/* .feature-body {
    border-radius: 322px;
    background: var(--Gradient, linear-gradient(123deg, #D35400 3.6%, #2980B9 71.52%, rgba(41, 128, 185, 0.00) 71.52%));
    filter: blur(160px);
    background-image: url(./../../../public/ellipse_left.svg);
    z-index: 55;
} */